<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linewell.edu.mapper.QuestionMapper">

    <resultMap type="com.linewell.edu.entity.TbBQuestion" id="TbBQuestionMap">
        <result property="id" column="ID" />
        <result property="title" column="TITLE" />
        <result property="subject" column="SUBJECT" />
        <result property="type" column="TYPE" />
        <result property="difficulty" column="DIFFICULTY" />
        <result property="knowledge" column="KNOWLEDGE" />
        <result property="content" column="CONTENT" />
        <result property="answer" column="ANSWER" />
        <result property="score" column="SCORE" />
        <result property="cjr" column="CJR" />
        <result property="cjsj" column="CJSJ" />
        <result property="gxr" column="GXR" />
        <result property="gxsj" column="GXSJ" />
        <result property="ljsc" column="LJSC" />
    </resultMap>

</mapper>
