# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# IDE
.idea/
.vscode/
*.suo
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# Env
.env.local
.env.*.local

# Build
dist/
dist-ssr/
*.local

# auto-imports
src/auto-imports.d.ts
src/components.d.ts
